<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
            border: 1px solid grey;
        }
        th {
            background-color: green;
            color: white;
            padding: 6px 8px;
        }
        td {
            padding: 6px 8px;
        }
    </style>
</head>
<body>
    <h2> List of notes </h2>
    <table id="note">
        <tr>
            <th>Tag</th>
            <th>Note</th>
        </tr>
        <tr th:object="${note}">
            <td th:text="*{tag}"></td>
            <td style="border-left: 1px solid grey" th:text="*{note}"></td>
        </tr>
    </table>
</body>
</html>